<div class="post-footer">
  <div class="actions">
    <div class="actions-container">
      <!-- <button
        class="action-button"
        (click)="changeLikeCheckedValue()"
        [ngClass]="{ pulse: pulse }"
      > -->
      <button
        class="action-button"
        (click)="changeLikeCheckedValue(); likePost()"
        [ngClass]="{ liked: isLiked, pulse: pulse }"
      >
        <svg
          *ngIf="!likeChecked"
          aria-label="Like"
          class="_8-yf5"
          fill="#262626"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
          ></path>
        </svg>
        <svg
          *ngIf="likeChecked"
          aria-label="Unlike"
          class="_8-yf5"
          fill="#ed4956"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
          ></path>
        </svg>
      </button>
      <button class="action-button">
        <svg
          aria-label="Comment"
          class="_8-yf5"
          fill="#262626"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            clip-rule="evenodd"
            d="M47.5 46.1l-2.8-11c1.8-3.3 2.8-7.1 2.8-11.1C47.5 11 37 .5 24 .5S.5 11 .5 24 11 47.5 24 47.5c4 0 7.8-1 11.1-2.8l11 2.8c.8.2 1.6-.6 1.4-1.4zm-3-22.1c0 4-1 7-2.6 10-.2.4-.3.9-.2 1.4l2.1 8.4-8.3-2.1c-.5-.1-1-.1-1.4.2-1.8 1-5.2 2.6-10 2.6-11.4 0-20.6-9.2-20.6-20.5S12.7 3.5 24 3.5 44.5 12.7 44.5 24z"
            fill-rule="evenodd"
          ></path>
        </svg>
      </button>
      <button class="action-button" (click)="redirectToReportForm()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="none"
          class="bi bi-flag"
          viewBox="0 0 22 22"
        >
          <path
            d="M9.61109 12.4L10.8183 18.5355C11.0462 19.6939 12.6026 19.9244 13.1565 18.8818L19.0211 7.84263C19.248 7.41555 19.2006 6.94354 18.9737 6.58417M9.61109 12.4L5.22642 8.15534C4.41653 7.37131 4.97155 6 6.09877 6H17.9135C18.3758 6 18.7568 6.24061 18.9737 6.58417M9.61109 12.4L18.9737 6.58417M19.0555 6.53333L18.9737 6.58417"
            stroke="#000000"
            stroke-width="1"
          />
        </svg>
      </button>
    </div>
    <div class="actions-container">
      <button class="action-button" (click)="bookmarkPost()">
        <button class="action-button" (click)="toggleBookmark()"></button>
        <svg
          *ngIf="!saveChecked"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          fill="currentColor"
          class="bi bi-bookmark"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"
          />
        </svg>
        <svg
          *ngIf="saveChecked"
          xmlns="http://www.w3.org/2000/svg"
          width="22"
          height="22"
          fill="red"
          class="bi bi-bookmark"
          viewBox="0 0 16 16"
        >
          <path
            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="likes">
    <span class="user-img"> </span>
    <span class="likedby">
      <div>{{ likeCount }} likes</div>
    </span>
  </div>

  <span class="timestamp">{{ getRelativeTime() }}</span>
  <div class="post-caption" *ngIf="imgIsPresent">{{ caption }}</div>
  <div class="new-comment">
    <!-- <input type="text" placeholder="Add a comment" [(ngModel)]="comment" required minlength="1" #commentInput="ngModel" name="comment" class="comment-input">
    <button type="button" [disabled]="commentInput.invalid" (mousedown)="submitComment()" class="post">Post</button>
    <div class="comment-input"> -->
    <input
      type="text"
      placeholder="Add a comment"
      [(ngModel)]="comment"
      required
      minlength="1"
      class="comment-input"
    />
    <button
      type="button"
      [disabled]="!comment"
      (click)="submitComment()"
      class="post"
    >
      Post
    </button>
  </div>
  <div
    class="comments"
    *ngIf="commentsWithUsername && commentsWithUsername.length > 0"
  >
    <span class="comment" *ngFor="let comment of commentsWithUsername">
      <span class="comment-author">{{ comment.username }}</span>
      <span class="comment-content">{{ comment.text }}</span>
    </span>
  </div>
</div>
