<!-- <div class="cardContainer">
  <div *ngFor="let post of bookmarkedPostsDetails" class="card">
    <div class="card-header">
      <h3>{{ post.username }}</h3>
    </div>

    <div class="card-body">
      <ng-container *ngIf="post.mediaType === 'image'">
        <div class="post-image">
          <img [src]="post.mediaUrl" alt="Post Image" />
        </div>
      </ng-container>

      <ng-container *ngIf="post.mediaType === 'video'">
        <div class="post-video">
          <video [src]="post.mediaUrl" controls></video>
        </div>
      </ng-container>
    </div>

    <div class="card-footer">
      <h3>{{ post.caption }}</h3>
      <p>Location: {{ post.location }}</p>
    </div>
  </div>
</div> -->
<div class="card-container">
  <div class="post" *ngFor="let post of bookmarkedPostsDetails">
    <app-post-header [username]="post.username" [location]="post.location" />

    <app-post-image
      [imageSource]="generateImageLink(post.image_or_video)"
      *ngIf="post.image_or_video"
    />

    <div class="post-caption" *ngIf="!post.image_or_video">
      {{ post.caption }}
    </div>
  </div>
</div>
