<div id="stories">
  <div class="stories-container">
    <div class="story" *ngFor="let user of users">
      <div class="story-user-img" (click)="openStoryView(story)">
        <img
          [src]="generateImageLink(user.profile_pic)"
          [alt]="user.profile_pic"
        />
      </div>
      <span class="story-username">{{ user.username }}</span>
    </div>
  </div>
</div>
<!-- <div id="stories">
  <div class="stories-container">
    <div class="story" *ngFor="let story of stories">
      <div class="story-user-img">
        <img [src]="story.image" [alt]="story.image" />
      </div>
      <span class="story-username">{{ story.user }}</span>
    </div>
  </div>
</div> -->
