<div class="profile-container">
  <!-- Profile Image on the left -->
  <img [src]="user.profile_pic" alt="Profile Image" class="profile-image" />

  <!-- User Information, Followers, Following, and Posts -->
  <div class="profile-info">
    <div *ngIf="!isEditMode">
      <h2>{{ user.fname }} {{ user.lname }}</h2>
      <p>{{ user.email }}</p>
      <button *ngIf="isOwner" (click)="toggleEditMode()">Edit Profile</button>
    </div>

    <div *ngIf="isEditMode" class="profile-edit-form">
      <!-- Edit Profile Form Fields -->
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="user.name" />

      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="user.email" />
      <label for="profileImage">Profile Image:</label>
      <input
        type="file"
        id="profileImage"
        (change)="onProfileImageChange($event)"
      />

      <button (click)="saveChanges()">Save Changes</button>
      <button (click)="toggleEditMode()">Cancel</button>
    </div>

    <!-- Followers, Following, and Posts -->
    <div class="profile-stats">
      <!-- <div class="followers">
        <h3>Followers</h3>
        <p>{{ user.followers || 0 }}</p> 
      </div> -->

      
      <!-- <div class="following">
        <h3>Followers</h3>
        <p>{{ user.following || 0 }}</p>
      </div> -->

      <div class="following">
        <h3>Followers</h3>
        <p>{{ followingCount }}</p>
      </div>
      
      <div class="following">
        <h3>Following</h3>
        <p>{{ followerCount }}</p>
      </div>

      
      <!-- <div class="posts">
        <h3>Posts</h3>
        <p>{{ user.posts || 0 }}</p>
      </div> -->

      <!-- <div class="posts">
        <h3>Posts</h3>
        <p>{{ postCount }}</p>
      </div> -->


    </div>
  </div>
</div>
