<!-- new-post.component.html -->

<div class="new-post-container" #newPostContainer>
  <h2>New Post</h2>
  <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="caption">Caption:</label>
      <textarea id="caption" name="caption"  [(ngModel)]="caption" ></textarea>
    </div>
    <div class="form-group">
      <label for="location">Location:</label>
      <textarea id="location" name="location"  [(ngModel)]="location" ></textarea>
    </div>
    <div class="form-group">
      <label for="files">Select Files:</label>
      <input
        type="file"
        id="files"
        name="files"
        (change)="onFilesSelected($event)"
        accept="image/*, video/*, audio/*"
        multiple
      />
    </div>
    <div class="form-group">
      <div *ngFor="let media of mediaPreviews">
        <div *ngIf="media.type === 'image'">
          <img
            [src]="media.url"
            alt="Selected Image"
            class="selected-file-preview"
          />
        </div>
        <div *ngIf="media.type === 'video'">
          <video
            [src]="media.url"
            controls
            class="selected-file-preview"
          ></video>
        </div>
        <div *ngIf="media.type === 'audio'">
          <audio
            [src]="media.url"
            controls
            class="selected-file-preview"
          ></audio>
        </div>
        <div *ngIf="media.type === 'unknown'">
          Unsupported file format: {{ media.url }}
        </div>
      </div>
    </div>
    <button type="submit">Post</button>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
